{% extends "base.html" %}

{% block contenido %}


    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}

<div class="container">
  <div class="row justify-content-center">
      <div class="card text-center border-primary">
          <div class="card-body">
            
{% if form.errors %}
<p style="color:red">Tu usuario y contraseña no han sido correctos.</p> <p style="color:red">Vuelve a intentarlo.</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <p>Nombre de usuario: </p>
  <p>{{ form.username }}</p>
</div>
<div>
  <p>Contraseña: </p>
  <p>{{ form.password }}</p>
</div>

<div>
  <input class="btn btn-outline-primary" type="submit" value="Login" />
  <input type="hidden" name="next" value="/" />
</div>
</form>
</div></div></div></div>


{% endblock %}