{% extends 'base.html' %}
{% block 'style_css' %}

{% endblock %}
{% block contenido %}
<div class="container">
    <div id="accordion1">
        <div class="card">
          <div class="card-header" id="cabecera1">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#respuesta1" aria-expanded="true" aria-controls="respuesta1">
                Resultados de TodosTusLibros ({{librosttl|length}} Resultados)
              </button>
            </h5>
          </div>
          <div id="respuesta1" class="collapse" aria-labelledby="cabecera1" data-parent="#accordion1">
            <div class="card-body">
                {% for libro in librosttl %}
                <div class="row justify-content-center" style="margin-top:20px; ">
                <img class="col-3" src="{{libro.urlImagen}}" style="height:80%;"></img>
                <div class="col-9">
                    <table class="table table-striped" >
                        <tr>
                        <th style="color:#d49266"  scope="row">{{libro.titulo}}</th>
                        <th style="text-align:end;" scope="row">Título</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row">{{libro.autor}}</th>
                        <th style="text-align:end;" scope="row">Autor</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row">{{libro.isbn}}</th>
                        <th style="text-align:end;" scope="row">ISBN</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row">{{libro.fechapublicacion|date:"d/m/Y"}}</th>
                        <th style="text-align:end;" scope="row">Fecha de publicación</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row">{{libro.precio}}</th>
                        <th style="text-align:end;" scope="row">Precio</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row">{{libro.categorias}}</th>
                        <th style="text-align:end;" scope="row">Categorías</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row"><a style="color:#3366BB;cursor: pointer; " data-toggle="modal" data-target="#dialogo{{forloop.counter}}">Ver descripción</a></th>
                        <th style="text-align:end;" scope="row">Descripción</th>
                        </tr>
                        <tr>
                        <th style="color:#d49266"  scope="row"><a style="color:#3366BB;" href="{{libro.urlCompra}}">Ver en tienda</a></th>
                        <th style="text-align:end;" scope="row">Comprar</th>
                        </tr>
                    </table>
                
                </div>
                <div class="modal fade" id="dialogo{{forloop.counter}}">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                    
                        <div class="modal-header">
                            <h4 class="modal-title">Sinopsis de "{{libro.titulo}}"</h4>
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                    
                        <!-- cuerpo del diálogo -->
                        <div class="modal-body">
                            {{libro.descripcion}}
                        </div>
                    
                        <!-- pie del diálogo -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    
                        </div>
                    </div>
                    </div> 
                </div>
                <hr>
                {% endfor %}
            </div>
          </div>
        </div>
  
        <div class="card">
          <div class="card-header" id="cabecera2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#respuesta2" aria-expanded="false" aria-controls="respuesta2">
                Resultado de libros de GoodReads ({{librosgr|length}} Resultados)
              </button>
            </h5>
          </div>
          <div id="respuesta2" class="collapse" aria-labelledby="cabecera2" data-parent="#accordion1">
            <div class="card-body">
                {% for libro in librosgr %}
                <div class="row justify-content-center" style="margin-top:20px;">
                    <img class="col-3" src="{{libro.urlImagen}}" ></img>
                    <div class="col-9">
                        <table class="table table-striped" >
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.titulo}}</th>
                            <th style="text-align:end;" scope="row">Título</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.autor}}</th>
                            <th style="text-align:end;" scope="row">Autor</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.isbn}}</th>
                            <th style="text-align:end;" scope="row">ISBN</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.fechapublicacion|date:"d/m/Y"}}</th>
                            <th style="text-align:end;" scope="row">Fecha de publicación</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.genero}}</th>
                            <th style="text-align:end;" scope="row">Genero</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.rating}}</th>
                            <th style="text-align:end;" scope="row">Rating</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row"><a href="/libros/{{libro.id}}">Ver </a></th>
                            <th style="text-align:end;" scope="row">Ver más detalles</th>
                          </tr>
                          
                        </table>
                    
                    </div>
                    
                </div>
                <hr>
            {% endfor %}
            </div>
           
            </div>
          </div>
  
        <div class="card">
          <div class="card-header" id="cabecera3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#respuesta3" aria-expanded="false" aria-controls="respuesta3">
                Resultados de Planeta de Libros ({{librospl|length}} Resultados)
              </button>
            </h5>
          </div>
          <div id="respuesta3" class="collapse" aria-labelledby="cabecera3" data-parent="#accordion1">
            <div class="card-body">
                {% for libro in librospl %}
                <div class="row justify-content-center" style="margin-top:20px;">
                    <img class="col-3" src="{{libro.urlImagen}}" ></img>
                    <div class="col-9">
                        <table class="table table-striped" >
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.titulo}}</th>
                            <th style="text-align:end;" scope="row">Título</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.autor}}</th>
                            <th style="text-align:end;" scope="row">Autor</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.isbn}}</th>
                            <th style="text-align:end;" scope="row">ISBN</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.fechapublicacion|date:"d/m/Y"}}</th>
                            <th style="text-align:end;" scope="row">Fecha de publicación</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.categorias}}</th>
                            <th style="text-align:end;" scope="row">Categorías</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.precio}}</th>
                            <th style="text-align:end;" scope="row">Precio</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row"><a style="color:#3366BB;cursor: pointer; " data-toggle="modal" data-target="#dialog{{forloop.counter}}">Ver descripción</a></th>
                            <th style="text-align:end;" scope="row">Descripción</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row"><a style="color:#3366BB;" href="{{libro.urlCompra}}">Ver en tienda</a></th>
                            <th style="text-align:end;" scope="row">Comprar</th>
                          </tr>
                        </table>
                    
                    </div>
                    <div class="modal fade" id="dialog{{forloop.counter}}">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                          <div class="modal-content">
                      
                            <div class="modal-header">
                              <h4 class="modal-title">Sinopsis de "{{libro.titulo}}"</h4>
                              <button type="button" class="close" data-dismiss="modal">X</button>
                            </div>
                      
                            <!-- cuerpo del diálogo -->
                            <div class="modal-body">
                                {{libro.descripcionHTML|safe}}
                            </div>
                      
                            <!-- pie del diálogo -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                      
                          </div>
                        </div>
                      </div> 
                </div>
                <hr>
            {% endfor %}
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="cabecera4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#respuesta4" aria-expanded="false" aria-controls="respuesta4">
                  Libros del dataset ({{librosdtst|length}} Resultados)
                </button>
              </h5>
            </div>
            <div id="respuesta4" class="collapse" aria-labelledby="cabecera4" data-parent="#accordion1">
              <div class="card-body">
                {% for libro in librosdtst %}
                <div class="row justify-content-start" style="margin-top:20px;">
                    <div class="col-12">
                        <table class="table table-striped" >
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.titulo}}</th>
                            <th style="text-align:end;" scope="row">Título</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.autor}}</th>
                            <th style="text-align:end;" scope="row">Autor</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.isbn}}</th>
                            <th style="text-align:end;" scope="row">ISBN</th>
                          </tr>
                          <tr>
                            <th style="color:#d49266"  scope="row">{{libro.anyopublicacion}}</th>
                            <th style="text-align:end;" scope="row">Año de publicación</th>
                          </tr>
                        
                        </table>
                    </div>    
                </div>
                <hr>
        {% endfor %}
              </div>
            </div>
          </div>
        </div>  
        </div>
      </div>
</div>
{% endblock %}